<!DOCTYPE html>
<html>
<head>
  <title>Rubyjob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
    <Logo style='font-size:50pt;'>Ruby Job!!</Logo>
    <%= yield %>
</div>
</body>
</html>
